@page "/role"
@using Lionk.Auth.Identity
@using Microsoft.AspNetCore.Components.Authorization
@inject UserAuthenticationStateProvider AuthStateProvider
@inject UserService userService

@if (Users != null)
{
    <MudTable Items="Users" Bordered="true" Dense="true" Hover="true">
        <HeaderContent>
            <MudTh>Username</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Current Roles</MudTh>
            <MudTh>Add Roles</MudTh>
            <MudTh>Save</MudTh>
            <MudTh>Delete</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Username</MudTd>
            <MudTd>@context.Email</MudTd>
            <MudTd>
                <MudList T="string" Style="display: inline-block;">
                    @foreach (var role in @context.Roles)
                    {
                        <MudListItem>
                            <div style="display: flex; justify-content: center;">
                                <span>@role</span>
                            </div>
                        </MudListItem>
                    }
                </MudList>
            </MudTd>
            <MudTd>
                <MudSelect T="string" @bind-Value="selectedRole" Dense="true" Style="width: 150px;">
                    @foreach (var role in availableRoles)
                    {
                        <MudSelectItem Value="@role">@role</MudSelectItem>
                    }
                </MudSelect>
            </MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="margin-right: 10px; margin-top: 8px;" OnClick="() => SaveUser(context)">
                    SAVE
                </MudButton>
            </MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled" Color="Color.Error" Style="margin-top: 8px;" OnClick="() => DeleteUser(context.Id)">
                    DELETE
                </MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>
}
else
{
    <MudText Typo="Typo.body1" Align="Align.Left" Style="margin: 20px;">Loading users...</MudText>
}

@code {
    public HashSet<User>? Users;
    private string? selectedRole;
    private List<string> availableRoles = new List<string> { "Admin", "User", "Moderator" };

    protected override void OnInitialized()
    {
        Users = userService.GetUsers();
    }

    private void AddRole(User user)
    {
        if (!string.IsNullOrEmpty(selectedRole) && !user.Roles.Contains(selectedRole))
        {
            user.AddRole(selectedRole);
        }
    }

    private void RemoveRole(User user, string role)
    {
        user.RemoveRole(role);
    }

    private void SaveUser(User user)
    {

    }

    private void DeleteUser(Guid userId)
    {
        var userToRemove = Users?.FirstOrDefault(u => u.Id == userId);
        if (userToRemove != null)
        {
        }
    }
}