@page "/role"
@using Lionk.Auth.Identity
@using Microsoft.AspNetCore.Components.Authorization
@inject UserAuthenticationStateProvider AuthStateProvider
@inject UserService userService

<div style="width: 600px;">
    <MudDataGrid T="User" Items="@Users" ReadOnly="@ReadOnly" EditMode="DataGridEditMode.Form" Bordered="true" Dense="true" EditTrigger="DataGridEditTrigger.Manual">
        <Columns>
            <PropertyColumn Property="x => x.Email" Editable="false" />
            <PropertyColumn Property="x => x.Username" Editable="false" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</div>

@code {
    public HashSet<User>? Users;
    public bool ReadOnly = false;

    protected override void OnInitialized()
    {
        Users = userService.GetUsers();
    }
}