@page "/configuration"
@inject IDialogService DialogService
@using Lionk.Notification
@using LionkApp.Components.Widgets.Dialogs

<MudPaper Elevation="2" Class="pa-4 mb-10">
    <div style="display: flex; justify-content: space-between;">
        <MudText Typo="Typo.h6">Notifiers</MudText>
        <div style="width:25%">
            <MudTextField @bind-Value="SearchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
        </div>
    </div>
    <MudList T="string" Class="mt-4">
        @foreach (var notifyer in FilteredNotifiers)
        {
            <MudListItem>
                <div style="display: flex; justify-content: space-between; width: 100%; height: 30px;">
                    <MudText>@notifyer.Name</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" @onclick="OnEditNotifierClicked" />
                </div>
            </MudListItem>
        }
    </MudList>
</MudPaper>

<MudPaper Elevation="2" Class="pa-4 mb-10">
    <div style="display: flex; justify-content: space-between;">
        <MudText Typo="Typo.h6">Channels</MudText>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" @onclick="OnAddChannelClicked">ADD</MudButton>
    </div>
    <MudList T="string" Class="mt-4">
        @foreach (var channel in MockChannels)
        {
            <MudListItem>
                <div style="display: flex; justify-content: space-between; width: 100%; height: 30px;">
                    <MudText>@channel.Name</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Primary" @onclick="OnConfigureChannelClicked" />
                </div>
            </MudListItem>
        }
    </MudList>
</MudPaper>

@code {

    // ********************************** Mock
    // **********************************
    // **********************************
    public class MockNotifyer : INotifyer
    {
        public Guid Id { get; set; }
        public string Name { get; set; } = string.Empty;

        public bool Equals(INotifyer? other)
        {
            return other != null && Id == other.Id;
        }
    }

    public class MockChannel : IChannel
    {
        public Guid Guid { get; set; }
        public string Name { get; set; } = string.Empty;
        public List<IRecipient> Recipients { get; set; } = new();
        public bool IsInitialized { get; set; } = false;

        public void AddRecipients(params IRecipient[] recipients)
        {
            Recipients.AddRange(recipients);
        }

        public void Initialize()
        {
            IsInitialized = true;
        }

        public void Send(INotifyer notifyer, Content content)
        {
        }

        public bool Equals(IChannel? other)
        {
            return other != null && Guid == other.Guid;
        }
    }

    private List<INotifyer> MockNotifyers = new List<INotifyer>
    {
        new MockNotifyer { Id = Guid.NewGuid(), Name = "Chimpey" },
        new MockNotifyer { Id = Guid.NewGuid(), Name = "Clock alarm" },
        new MockNotifyer { Id = Guid.NewGuid(), Name = "MX321" }
    };

    private List<IChannel> MockChannels = new List<IChannel>
    {
        new MockChannel { Guid = Guid.NewGuid(), Name = "Discord", IsInitialized = true },
        new MockChannel { Guid = Guid.NewGuid(), Name = "Telegram", IsInitialized = false },
        new MockChannel { Guid = Guid.NewGuid(), Name = "Push bullet", IsInitialized = true }
    };

    private Dictionary<Guid, List<IChannel>> MockNotifyerChannels;

    public Configuration()
    {
        MockNotifyerChannels = new Dictionary<Guid, List<IChannel>>
        {
            { MockNotifyers[0].Id, new List<IChannel> { MockChannels[0], MockChannels[1] } },
            { MockNotifyers[1].Id, new List<IChannel> { MockChannels[2] } },
            { MockNotifyers[2].Id, new List<IChannel> { MockChannels[0], MockChannels[2] } }
        };
    }
    // **********************************
    // ********************************** 
    // **********************************

    // private ReadOnlyCollection<INotifyer>? notifyers;

    // private ReadOnlyCollection<IChannel>? channels;

    private string SearchString = "";

    private IEnumerable<INotifyer> FilteredNotifiers => FilterNotifyers(SearchString);

    protected override void OnInitialized()
    {
        // TODO - Get notifyers and channels when ready
        // notifyers = NotificationService.Notifyers;
        // channels = NotificationService.Channels;
    }

    private IEnumerable<INotifyer> FilterNotifyers(string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return MockNotifyers;

        return MockNotifyers.Where(n => n.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase));
    }

    private Task OnEditNotifierClicked()
    {
        var channelList = new DialogParameters { { "Channels", MockChannels } };

        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<NotifierEditor>("Edit notifier", channelList, options);
    }

    private Task OnAddChannelClicked()
    {
        // TODO - Get available channels when ready
        var channelList = new DialogParameters { { "Channels", MockChannels } };

        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<ChannelConfigurer>("Select channel", channelList, options);
    }

    private void OnConfigureChannelClicked()
    {
        // TODO - Retrieve the configurable view from dll
    }
}
