@using Lionk.Plugin
@using MudBlazor
<link href="_content/Lionk.Plugin.Blazor/css/PluginCard.css" rel="stylesheet" />

@if (Plugin is null)
{
    <MudCard Outlined="true" Class="mud-card-hover">
        <MudCardContent>
            <MudText Typo="Typo.h6">No plugin selected</MudText>
        </MudCardContent>
    </MudCard>
}
else
{
    <MudCard Class="floating-card" Outlined="true">
        <MudCardHeader>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div>
                    <MudText Typo="Typo.h6" Style="word-wrap: break-word; overflow-wrap: break-word; word-break: break-word;">@Plugin.Name</MudText>
                    <MudText Typo="Typo.subtitle2">@Plugin.Version</MudText>
                </div>
            </div>
        </MudCardHeader>
        <MudCardContent>
            @if (!Plugin.IsLoaded)
            {
                <MudTooltip Text="Something went wrong during plugin loading, please check dependencies.">
                    <MudIconButton Icon="@Icons.Material.Filled.Error"
                                   Color="Color.Error"
                                   Style="cursor: pointer;">
                    </MudIconButton>
                </MudTooltip>
            }

            <MudText Typo="Typo.body1" Class="description-container">@Plugin.Description</MudText>
            <MudText Typo="Typo.body2">Author: @Plugin.Author</MudText>

            <MudCollapse Expanded="@ShowDependencies">
                <MudText Typo="Typo.caption">Dependencies:</MudText>
                <MudList T="string" Class="small-font non-selectable">
                    @foreach (var dependency in Plugin.Dependencies)
                    {
                        <MudListItem OnClick="() => OnDependencySelectAsync(dependency)">
                            @if (dependency.IsLoaded)
                            {
                                <MudText>
                                    @dependency.AssemblyName.FullName
                                </MudText>
                            }
                            else
                            {
                                <MudText Color="Color.Error">@dependency.AssemblyName.FullName</MudText>
                            }
                        </MudListItem>
                    }
                </MudList>
            </MudCollapse>
        </MudCardContent>
        <MudCardActions>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="ToggleDependencies">
                @(ShowDependencies ? "Hide Dependencies" : "Show Dependencies")
            </MudButton>
            <MudButton Color="Color.Error" OnClick="() => OnDelete.InvokeAsync(Plugin)">Delete</MudButton>
        </MudCardActions>
    </MudCard>
}

@code {
    private bool ShowDependencies { get; set; } = false;

    private void ToggleDependencies()
    {
        ShowDependencies = !ShowDependencies;
    }

    private async Task OnDependencySelectAsync(Dependency dependency)
    {
        if (!dependency.IsLoaded)
            await OnDependencySelect.InvokeAsync(dependency);
    }

    /// <summary>
    /// The plugin that is displayed in the card.
    /// </summary>
    [Parameter]
    public Plugin? Plugin { get; set; }

    /// <summary>
    /// Parameter that is triggered when a dependency is selected.
    /// </summary>
    [Parameter]
    public EventCallback<Dependency> OnDependencySelect { get; set; }

    /// <summary>
    /// Event that is triggered when the delete button is clicked.
    /// </summary>
    [Parameter]
    public EventCallback<Plugin> OnDelete { get; set; }
}
